.card-links{
    .file-container {
        cursor: pointer;
        font-family: "Raleway Bold";
        color: #353535;
        text-decoration: none;

        span {
            content: '';
            display: inline-block;
            width: 12px;
            height: 6px;
            margin-left: 7px;
            margin-bottom: 3px;
            background-image: url(../assets/images/arrow-down-sign-to-navigate.png);
            background-repeat: no-repeat;
            background-position: right;
            background-size: cover;
        }

        &:hover{
            color: #f5882b;
        }

        &~ .child-links{
            padding-left: 10px!important;
            padding-top: 12px!important;

            li{
                font-size: 12px;

                &:last-child{
                    padding-bottom: 0;
                  }
              }
        }
    }
}

.card-links .card-links-wrapper{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    gap:15px
}
.card-links .card-item{
    width:18.95%;
    margin-bottom:20px
}
@media (max-width:1199px){
    .card-links .card-item{
        width:32%
    }
}
@media (max-width:991px){
    .card-links .card-item{
        width:48%
    }
}
@media (max-width:767px){
    .card-links .card-item{
        width:100%
    }
}
.card-links .card-item .card-head{
    padding:15px;
    font-size:25px;
    font-family:"Raleway Semi-Bold";
    color:#fff;
    background-color:#002890
}
.card-links .card-item .card-list{
    padding:20px;
    background-color:#f5f5f5
}
.card-links .card-item .card-list ul{
    margin:0;
    padding:0;
    list-style:none
}
.card-links .card-item .card-list li{
    padding-bottom:12px
}
.card-links .card-item .card-list li a{
    font-family:"Raleway Bold";
    color:#353535;
    text-decoration:none
}
.card-links .card-item .card-list li a:hover{
    color:#f5882b
}
.card-links .card-item .card-list .card-note p{
    padding-top:10px;
    font-size:13px;
    line-height:15px
}