header {
    .profile-nav {
        display: flex;
        align-items: center;
    }

    .nav-content {
        width: 60%;
    }

    .navbar-expand-lg {
        .navbar-nav {
            justify-content: space-between;

            @media (max-width: 1199px) {
                justify-content: end;   
            }
        }
    }
}